@model appHarborApplication.Models.tblCountry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblCountry</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CountryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
